<ion-content class="bg-splash" [routerLink]="['/login']" routerLinkActive="router-link-active">
    <br>
    <ion-img class="img-logo center" src="\assets\img\logo-imigrasi.png"></ion-img>
    <h5 text-center style="margin-bottom: -10px; color: white;">DIREKTORAT JENDERAL IMIGRASI</h5>
    <p style="font-size: 12px;color: white;" text-center>KEMENTERIAN HUKUM DAN HAK ASASI MANUSIA<br>REPUBLIK INDONESIA</p>
    <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>
</ion-content>
<ion-footer>
    <h6 text-center>APLIKASI PELAYANAN PASPOR<br>2019</h6>

</ion-footer>