<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/p13dataverifikasi' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-card class="bg-full" no-margin style="margin-top:-8px; padding:10px;">
        <div class="padding5">
            <div>
                <p style="color: white; font-size:11pt;"><b>Individu atau kolektif untuk<br>pendaftaran dalam 1 kartu
                  keluarga</b><br></p>
                <p style="color: white;font-size: 9pt;">Buat pemohonan sesuai jumlah orang yang akan didaftarkan</p>
            </div>

            <div style="text-align:right;">
                <p style="color: white;font-size:11pt; margin-bottom: -10px;"><b>Anda dapat membuat satu sampai<br>lima permohonan
                  pendaftaran paspor<br>dalam satu kali proses pendaftaran</b><br></p>
                <p style="color: white;font-size: 9pt;">isi form dibawah ini sesuai dengan biodata<br>orang yang akan didaftarkan
                </p>
            </div>
        </div>
        <br>
    </ion-card>

    <div>
        <ion-list class="list-card" *ngIf="this.gss" [routerLink]="['/p2lokasikantor']">
            <ion-row>
                <p style="color:orange;font-size:13pt;"><b>{{this.gss.getnamalgkp}}</b></p>
            </ion-row>
            <ion-row>
                <p style="color:rgb(66, 66, 66); font-size: 11pt;"><b>{{this.gss.getnik}}</b></p>
            </ion-row>
            <ion-row>
                <p style="color:grey; font-size: 10pt;">Klik untuk membuat permohonan</p>
            </ion-row>
            <br>
        </ion-list>
        <div class="padding5">
            <p style="font-size:9pt; margin-bottom: 20px;">Sebelum diproses lebih lanjut permohonan anda akan disimpan pada device anda, sehingga apabila quota tidak tersedia anda tidak perlu menginput biodata</p>
            <br>
            <!-- <ion-button expand="block" type="submit" class="ion-no-margin" size="medium" [routerLink]="['/p9tanggal']">
        <ion-icon name="calendar"></ion-icon> Pilih Tanggal
      </ion-button> -->
        </div>
    </div>
</ion-content>