<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/p1jenispaspor' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="bg-full" no-margin style="margin-top:-8px;">
        <div>
            <br>
            <ion-label><b>Form Permohonan</b><br>Isi data permohonan di bawah ini dengan benar dan sesuai dengan data yang ada
            </ion-label>
        </div>
        <br>
        <div style="padding-left: 10%; padding-right:10%;">
            <ion-label style="font-size:10pt">NIK</ion-label>
            <ion-item class="item-rounded">
                <ion-input required type="number" name="nik" [(ngModel)]="this.tempinnik" placeholder="Nomor Induk Kependudukan"></ion-input>
            </ion-item>
            <br>
            <ion-label style="font-size:10pt">Nama Lengkap Ibu</ion-label>
            <ion-item class="item-rounded">
                <ion-input required type="text | uppercase" name="ibu" [(ngModel)]="this.tempinibu" placeholder="Sesuai Kartu Keluarga"></ion-input>
            </ion-item>
            <br>
            <ion-button expand="block" type="submit" size="medium" (click)="this.submitdukcapil()">
                <ion-icon name="search"></ion-icon> Cek Data
            </ion-button>
        </div>
    </ion-card>
</ion-content>