<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/p3listpermohonan' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="light" [ngSwitch]="view">
    <ion-card class="bg-full" no-margin style="margin-top:-8px; padding:10px;" *ngFor="let kanim of detailkanim">
        <div>
            <p style="color: white; font-size:12pt;"><b>{{kanim.unit_name}}</b></p>
            <p style="color: white;font-size:10pt; margin-bottom: 5%;">Kuota Tersedia 43
                <br>Quota terbuka sampai dengan
        </div>
    </ion-card>
    <br>
    <ion-row size="full">
        <ion-col align="right">
            <ion-icon style="font-size:16pt;" name="arrow-round-back" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"></ion-icon>
        </ion-col>
        <ion-col align="center" size="6">
            <ion-label class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" style="font-size:16pt;"><b>
            {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
          </b></ion-label>
        </ion-col>
        <ion-col align="left">
            <ion-icon style="font-size:16pt;" name="arrow-round-forward" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"></ion-icon>
        </ion-col>
    </ion-row>
    <div class="padding5" >
        <div>
            <mwl-calendar-month-view
                [viewDate]="viewDate"
                [events]="events"
                (beforeViewRender)="beforeMonthViewRender($event)"
                (dayClicked)="dayClicked($event.day)">
            </mwl-calendar-month-view>
        </div>
        <div>
            <ion-radio-group>
                <ion-row>
                    <ion-col>
                        <p style="color:darkslategrey;font-size:10pt;" text-center><b>Tersedia : 25</b></p>
                        <ion-item>
                            <p style="color:orange;font-size:13pt;" text-center><b>Pagi</b></p><br>
                            <ion-radio slot="start" color="primary" value="ya"></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <p style="color:darkslategrey;font-size:10pt;" text-center><b>Tersedia : 18</b></p>
                        <ion-item>
                            <p style="color:orange;font-size:13pt;" text-center><b>Siang</b></p><br>
                            <ion-radio slot="start" color="primary" value="tidak"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-radio-group>
        </div>
    </div>
    <div class="padding5">
        <br>
        <ion-button expand="block" type="submit" size="medium" [routerLink]="['/p11status']"> Daftar</ion-button>
    </div>
</ion-content>