.belumbuka {
    background-color: yellow !important;
}

.tersedia {
    background-color: green !important;
}

.habis {
    background-color: red !important;
}

.libur {
    background-color: gray !important;
}

.terpilih,
.terpilih:hover {
    background-color: blue !important;
}