<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/p11status' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-card class="bg-full" no-margin style="margin-top:-8px; padding:10px;">
        <div class="padding5">
            <div>
                <p style="color: white; font-size:11pt;"><b>Daftar Pemohon yang anda ajukan</b><br></p>
                <p style="color: white;font-size: 8pt;">Apabila permohonan belum dibayarkan QrCode & Kode Booking Tidak akan tampil, Selain itu tiket hanya akan berlaku apabila pembayaran dilakukan sebelum tenggat waktu yang ditetapkan
                </p>
            </div>
            <h2 style="color: white;">Permohonan Anda</h2>
        </div>
    </ion-card>
    <div>
        <ion-list class="list-card" [routerLink]="['/p12statusdetail']">
            <ion-row style="padding:0px 5px 0px 5px;">
                <ion-col>
                    <ion-row>
                        <p style="color:orange;font-size:10pt;"><b>Dian Sastro Wardoyo</b></p>
                    </ion-row>
                    <ion-row>
                        <p style="color:rgb(66, 66, 66); font-size: 8pt;"><b>1212121212121212</b></p>
                    </ion-row>
                    <ion-row>
                        <p style="color:grey; font-size: 7pt;">Ketuk Untuk Mengedit</p>
                    </ion-row>
                    <br>
                </ion-col>
                <ion-col style="text-align: right;">
                    <ion-row style="color:orange;font-size:9pt;">
                        <p><b>Status</b></p>
                    </ion-row>
                    <ion-row style="color:red; font-size: 10pt;">
                        <p style="font-size: 10pt;"><b>Belum Bayar</b></p>
                    </ion-row>
                    <ion-row style="font-size: 7pt;">
                        <p>Permohonan tidak dapat<br>berlaku apabila belum dibayar<br>sebelum Tanggal: 13/Mei/2019<br>Pukul:13:00 WIB
                        </p>
                    </ion-row>
                </ion-col>
            </ion-row>
            <br>
        </ion-list>
        <!--  <br>
    <ion-list class="list-card" [routerLink]="['/p12statusdetail']">
      <ion-row style="padding:0px 5px 0px 5px;">
        <ion-col>
          <ion-row>
            <p style="color:orange;font-size:10pt;"><b>Dian Sastro Wardoyo</b></p>
          </ion-row>
          <ion-row>
            <p style="color:rgb(66, 66, 66); font-size: 8pt;"><b>1212121212121212</b></p>
          </ion-row>
          <ion-row>
            <p style="color:grey; font-size: 7pt;">Ketuk Untuk Mengedit</p>
          </ion-row>
          <br>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-row style="color:orange;font-size:9pt;">
            <p><b>Status</b></p>
          </ion-row>
          <ion-row style="color:green; font-size: 10pt;">
            <p><b>Dibayar</b></p>
          </ion-row>
          <ion-row style="color:darkslategray; font-size: 10pt;">
            <p>JE-GG1RT</p>
          </ion-row>
        </ion-col>
      </ion-row>
      <br>
    </ion-list> -->
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col [routerLink]="['/home']" routerLinkActive="router-link-active">
                <ion-icon class="center icon-center" name="home"></ion-icon>
                <p text-center>Beranda</p>
                <br>
            </ion-col>

            <ion-col [routerLink]="['/p11status']" routerLinkActive="router-link-active">
                <ion-icon class="center icon-center" name="search"></ion-icon>
                <p text-center>Status</p>
                <br>
            </ion-col>
            <ion-col [routerLink]="['/p1jenispaspor']" routerLinkActive="router-link-active">
                <ion-icon class="center icon-center" name="cash"></ion-icon>
                <p text-center>Permohonan</p>
                <br>
            </ion-col>
            <ion-col>
                <ion-icon [routerLink]="['/login']" class="center icon-center" name="person"></ion-icon>
                <p text-center>Akun</p>
                <br>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>