<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/p5getdukcakpil' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content color="secondary">
    <div class="form-permohonan">
        <ion-list>
            <div>
                <h3 style="color:black;">Data Diri</h3>
            </div>
            <ion-item>
                <ion-label position="stacked"><b>Jenis Kelamin</b>
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-select interface="popover" [(ngModel)]="this.jeniskelamin">
                    <ion-select-option value="L">Laki - Laki</ion-select-option>
                    <ion-select-option value="P">Perempuan</ion-select-option>
                </ion-select>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Pekerjaan </b>
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <!-- <ion-select interface="popover" [(ngModel)]="this.pekerjaan">
                    <ion-select-option *ngFor="let pekerjaan of (masterpekerjaan)" value="{{ pekerjaan.id_pekerjaan }}">
                        {{ pekerjaan.nama_pekerjaan }}
                    </ion-select-option>
                </ion-select> -->
                <ionic-selectable [(ngModel)]="pekerjaan" [items]="masterpekerjaan" itemValueField="id_pekerjaan" itemTextField="nama_pekerjaan" [canSearch]="true" (onChange)="pekerjaans($event)">
                </ionic-selectable>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Nomor Telepon Selular</b>
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="tel" name="NOHP" [(ngModel)]="this.NOHP" placeholder="08XXXXXXXXXX"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Alamat Email </b>
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="email" name="email" [(ngModel)]="this.email"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Nama yang dapat dihubungi(darurat)</b>
                </ion-label>
                <ion-input required type="text" name="namakerabat" [(ngModel)]="this.namakerabat" placeholder="Untuk Keadaan Darurat"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Nomor yang dapat dihubungi(darurat)</b>
                </ion-label>
                <ion-input required type="number" name="nokerabat" [(ngModel)]="this.nokerabat" placeholder="Untuk Keadaan Darurat"></ion-input>
            </ion-item>
            <br>
            <ion-radio-group>
                <ion-label style="color: black;">Domisili Sesuai KTP ?
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-row>
                    <ion-col>
                        <ion-item class="item-rounded" color="secondary">
                            <ion-label>Ya</ion-label>
                            <ion-radio slot="start" color="success" value="ya" (click)="hideList()"></ion-radio>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item class="item-rounded" color="secondary">
                            <ion-label>Tidak</ion-label>
                            <ion-radio slot="start" color="danger" value="tidak" (click)="showList()"></ion-radio>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-radio-group>
            <br>
            <ion-list id=listIon lines="none" *ngIf="hideMe">
                <ion-item>
                    <ion-label position="stacked"><b>Alamat Domisili</b>
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input type="text" name="domisilialamat" [(ngModel)]="this.domisilialamat"></ion-input>
                </ion-item>
                <br>
                <ion-item>
                    <ion-label position="stacked"><b>Provinsi</b>
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ionic-selectable [(ngModel)]="domisiliprop" [items]="masterprovinsi" itemValueField="id_uuid" itemTextField="nama_provinsi" [canSearch]="true" (onChange)="filterkabupatens($event)">
                    </ionic-selectable>
                </ion-item>
                <br>
                <!-- <ion-item>
                    <ion-label position="stacked"><b>Provinsi</b>
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ionic-selectable [(ngModel)]="domisiliprop" [items]="masteradmin_area.items" itemValueField="id" itemTextField="area_name" [canSearch]="true" (onChange)="filtercitys($event)">
                    </ionic-selectable>
                </ion-item>
                <br> -->
                <ion-item>
                    <ion-label position="stacked"><b>Kabupaten</b>
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ionic-selectable [(ngModel)]="domisilikab" [items]="this.masterkabupaten" itemValueField="id_uuid" itemTextField="name" [canSearch]="true" (onChange)="filterkecamatans($event)">
                    </ionic-selectable>
                </ion-item>
                <!-- <ion-item>
                    <ion-label position="stacked"><b>Kabupaten</b>
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ionic-selectable [(ngModel)]="domisilikab" [items]="mastercity" itemValueField="id" itemTextField="city_name" [canSearch]="true" (onChange)="filterdistrics($event)">
                    </ionic-selectable>
                </ion-item> -->
                <br>
                <ion-item>
                    <ion-label position="stacked"><b>Kecamatan</b>
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ionic-selectable [(ngModel)]="domisilikec" [items]="this.masterkecamatan" itemValueField="id_uuid" itemTextField="nama" [canSearch]="true" (onChange)="filterkodeposs($event)">
                    </ionic-selectable>
                </ion-item>
                <!-- <ion-item>
                    <ion-label position="stacked"><b>Kecamatan</b>
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ionic-selectable [(ngModel)]="domisilikec" [items]="masterdistric" itemValueField="id" itemTextField="district_name" [canSearch]="true" (onChange)="filterkodeposs($event)">
                    </ionic-selectable>
                </ion-item> -->
                <br>
                <ion-item>
                    <ion-label position="stacked"><b>Kodepos</b>
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ionic-selectable [(ngModel)]="domisilikel" [items]="this.masterkodepos" itemValueField="id_kode_pos" itemTextField="id_kode_pos" [canSearch]="true" (onChange)="kodepos($event)">
                    </ionic-selectable>
                </ion-item>
                <br>
            </ion-list>
            <br>
            <ion-button expand="block" type="submit" class="ion-no-margin" size="medium" (click)="submit()">
                <ion-icon name="share-alt"></ion-icon> Lanjutkan
            </ion-button>
        </ion-list>
        <br>
    </div>
</ion-content>