<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/home' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
        <!-- <ion-title text-center style="color:white">Aplikasi Pelayanan Paspor</ion-title> -->
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <img src="\assets\img\img-tujuanpaspor.png" style="width: 100%">
    <ion-list class="list-card" style="padding-left: 5px" (click)="tujuanHaji()">
        <p style="color:orange;"><b>Haji</b></p>
        <p style="color:grey;  ">Ketuk disini tujuan Haji</p>
        <br>
    </ion-list>
    <ion-list class="list-card" style="padding-left: 5px" (click)="tujuanUmroh()">
        <p style="color:orange;"><b>Umroh</b></p>
        <p style="color:grey;  ">Ketuk disini tujuan Umroh</p>
        <br>
    </ion-list>
    <ion-list class="list-card" style="padding-left: 5px" (click)="tujuanBekerjaFormal()">
        <p style="color:orange;"><b>Bekerja Formal</b></p>
        <p style="color:grey;  ">Ketuk disini tujuan Bekerja Formal</p>
        <br>
    </ion-list>
    <ion-list class="list-card" style="padding-left: 5px" (click)="tujuanWisata()">
        <p style="color:orange;"><b>Wisata</b></p>
        <p style="color:grey;  ">Ketuk disini tujuan wisata</p>
        <br>
    </ion-list>
    <ion-list class="list-card" style="padding-left: 5px" (click)="tujuanBelajar()">
        <p style="color:orange;"><b>Belajar</b></p>
        <p style="color:grey;  ">Ketuk disini tujuan belajar</p>
        <br>
    </ion-list>
    <ion-list class="list-card" style="padding-left: 5px" (click)="tujuanTKI()">
        <p style="color:orange;"><b>TKI</b></p>
        <p style="color:grey;  ">Ketuk disini tujuan TKI</p>
        <br>
    </ion-list>





    <!-- ========================================== -->
    <!-- 
         <ion-list class="list-card" [routerLink]="['/p1jenispaspor']" *ngFor="let tujuan of mastertujuan" style="padding-left: 5px" [(ngModel)]="this.tujuanterpilih" (click)="tujuans()">
        <p style="color:orange;"><b>{{tujuan.desk_tujuan_dok_perjalanan}}</b></p>
        <p style="color:grey;  ">Ketuk disini tujuan {{tujuan.desk_tujuan_dok_perjalanan}}</p>
        <br>
    </ion-list>
    ==============================================================================================================
        <ion-radio-group class="list-card" *ngFor="let tujuan of mastertujuan" [(ngModel)]="this.tujuanterpilih">
        <ion-item class="item-rounded" color="secondary">
            <p style="color:orange;"><b>{{tujuan.desk_tujuan_dok_perjalanan}}</b></p>
            <p style="color:grey;  ">Ketuk disini tujuan {{tujuan.desk_tujuan_dok_perjalanan}}</p>
            <ion-radio slot="start" name="tujuanpaspor" color="success" value=" {{tujuan.id}}, {{tujuan.desk_tujuan_dok_perjalanan}}" (click)="tujuans()" checked></ion-radio>
        </ion-item>
    </ion-radio-group> -->

    <!-- </ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col [routerLink]="['/home']" routerLinkActive="router-link-active">
                <ion-icon class="center icon-center" name="home"></ion-icon>
                <p text-center>Beranda</p>
                <br>
            </ion-col>

            <ion-col [routerLink]="['/p11status']" routerLinkActive="router-link-active">
                <ion-icon class="center icon-center" name="search"></ion-icon>
                <p text-center>Status</p>
                <br>
            </ion-col>
            <ion-col [routerLink]="['/p1jenispaspor']" routerLinkActive="router-link-active">
                <ion-icon class="center icon-center" name="cash"></ion-icon>
                <p text-center>Permohonan</p>
                <br>
            </ion-col>
            <ion-col>
                <ion-icon [routerLink]="['/login']" class="center icon-center" name="person"></ion-icon>
                <p text-center>Akun</p>
                <br>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer> -->