<ion-content color="secondary">
    <!-- <ion-label (click)="closeModal()" style="text-align: right; font-size: 18pt; color: white">X</ion-label> -->
    <ion-label [routerLink]="['/p4cekdukcapil']" style="text-align: right; font-size: 18pt; color: white">X</ion-label>

    <div class="form-permohonan">
        <ion-list>
            <div>
                <h2 style="color: darkblue"><b>DUKCAPIL</b></h2>
            </div>
            <p style="color: darkslategray; font-size: 12pt;">
                Dalam hal terdapat permasalahan dalam hal <b>NIK yang tidak tervalidasi</b> atau
                <b>data yang tampil tidak / belum sesuai</b> dengan data yang tercantum secara fisik dalam e-KTP dan/atau Kartu Keluarga, kiranya pemohon dapat menyampaikan untuk melakukan:
                <br>a. Menghubungi Direktorat Jenderal Kependudukan dan Pencatatan Sipil melalui nomor <b>1500537 tanpa 021</b>;
                <br>b. Mengirimkan SMS atau pesan WhatsApp ke nomor <b>081315252920</b> atau <b>081315252921</b> atau <b>081315252912</b> dengan format:
                <br>#NIK
                <br>#Nama_Lengkap
                <br>#Nomor_Kartu_Keluarga
                <br>#Nomor_Telp
                <br>#Keluhan
                <br>c. Mengirimkan pesan elektronik melalui akun email: <b>callcenter.dukcapil@gmail.com</b>;
                <br>d. Mendatangi Disdukcapil/ Kelurahan/ Kecamatan untuk dilakukan validasi data dan memastikan bahwa NIK yang tercantum sudah terdaftar dalam Sistem Administrasi Kependudukan serta data yang terdaftar adalah sama dengan yang tercetak
                pada KTP/ KK
            </p>
        </ion-list>
    </div>
</ion-content>