<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref='/login' style="color:white" text="kembali"></ion-back-button>
      </ion-buttons>    
    <ion-title text-center>Pendaftaran Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-full">
  <div class="form-login">
    <form> 
        <ion-list class="ion-no-margin ion-no-padding">
            <ion-item>
                <ion-label position="stacked">NIK<ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="number" required placeholder="Nomor Induk Kependudukan"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked">Nama Lengkap<ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="text" required value="" placeholder="Nama Lengkap"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked">Tanggal Lahir<ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="date" required value="" placeholder="Tanggal Lahir"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked">Jenis Kelamin<ion-text color="danger">*</ion-text></ion-label>
                <ion-select interface="popover" required>
                        <ion-select-option value="L">Laki-Laki</ion-select-option>
                        <ion-select-option value="P">Perempuan</ion-select-option>
                    </ion-select>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked">Agama<ion-text color="danger">*</ion-text></ion-label>
                <ion-select interface="popover" required>
                        <ion-select-option value="Islam">Islam</ion-select-option>
                        <ion-select-option value="Kristen">Kristen</ion-select-option>
                        <ion-select-option value="Hindu">Hindu</ion-select-option>
                        <ion-select-option value="Budha">Budha</ion-select-option>
                        <ion-select-option value="Konghucu">Konghucu</ion-select-option>
                    </ion-select>
            </ion-item>
            <br>
        
            <ion-item>
                <ion-label position="stacked">Email<ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="email" required placeholder="Email"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked">No HP<ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="number" required maxlenght="13" placeholder="Nomor Handphone"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked">Username<ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="text" required placeholder="Username"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="password" required placeholder="Password"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked">Konfirmasi Password<ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="password" required placeholder="Konfirmasi Password"></ion-input>
            </ion-item>
            <br>
        </ion-list>
      <br>
      <ion-button expand="block" type="submit" class="ion-no-margin" size="medium" [routerLink]="['/login']">Daftar</ion-button>
    </form>
  </div>
</ion-content>
