<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/home' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-full">
    <br>
    <ion-title text-center style="color:white;">Informasi</ion-title>
    <br><br>
    <!-- <ion-row center>
        <ion-card>
            <ion-row>
                <ion-icon name="document" size="large"></ion-icon>
            </ion-row>
            <ion-row>
                <ion-label text-center>Pembuatan Paspor Baru</ion-label>
            </ion-row>
        </ion-card>
        <ion-col>
            <ion-card>
                <ion-row>
                    <ion-icon name="document" size="large"></ion-icon>
                </ion-row>
                <ion-row>
                    <ion-label text-center>Pembuatan Paspor Rusak</ion-label>
                </ion-row>
            </ion-card>
        </ion-col>
    </ion-row> -->
</ion-content>