<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/p7datakeluarga' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content color="secondary">
    <div class="form-permohonan">

        <ion-list>
            <div>
                <h3 style="color:black;">Data Suami / Istri</h3>
            </div>
            <ion-item>
                <ion-label position="stacked">Nama Lengkap
                </ion-label>
                <ion-input required type="text" name="namapsg" [(ngModel)]="this.namapsg"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked">NIK
                </ion-label>
                <ion-input required type="number" name="nikpsg" [(ngModel)]="this.nikpsg"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kewarganegaraan</b>
                </ion-label>
                <!-- <ion-input required type="text" name="negayah" [(ngModel)]="this.negayah"></ion-input> -->
                <ionic-selectable [(ngModel)]="this.negpsg" [items]="this.dm.dnegara" itemValueField="kode_negara" itemTextField="negara" [canSearch]="true" (onChange)="negaras($event)">
                </ionic-selectable>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Tempat Lahir</b>
                </ion-label>
                <ionic-selectable [(ngModel)]="this.tmptpsg" [items]="this.dm.dkabupaten" itemValueField="id_uuid" itemTextField="name" [canSearch]="true" (onChange)="kabupatens($event)">
                </ionic-selectable>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked">Tanggal Lahir
                </ion-label>
                <ion-input required type="date" name="tglpsg" [(ngModel)]="this.tglpsg"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked">Alamat
                </ion-label>
                <ion-input required type="text" name="alamatpsg" [(ngModel)]="this.alamatpsg"></ion-input>
            </ion-item>
            <br>

            <ion-button expand="block" type="submit" class="ion-no-margin" size="medium" (click)="submit()">
                <ion-icon name="share-alt"></ion-icon>Simpan & Lanjutkan</ion-button>
        </ion-list>
    </div>
</ion-content>