<ion-content class="bg-full">
    <ion-img class="img-logo center" src="\assets\img\logo-imigrasi.png"></ion-img>
    <h5 text-center style="margin-bottom: -10px; color: white;">DIREKTORAT JENDERAL IMIGRASI</h5>
    <p style="font-size: 12px;color: white;" text-center>KEMENTERIAN HUKUM DAN HAK ASASI MANUSIA<br>REPUBLIK INDONESIA</p>

    <div class="form-login">
        <form>
            <ion-list class="nomnop">
                <ion-item class="item-rounded">
                    <ion-input type="text" name="tempuser" [(ngModel)]="this.tempuser" placeholder="Username" required></ion-input>
                </ion-item>
                <br>
                <ion-item class="item-rounded">
                    <ion-input type="password" name="temppass" [(ngModel)]="this.temppass" placeholder="Password" required></ion-input>
                </ion-item>
            </ion-list>
            <br>
            <ion-button expand="block" type="submit" class="ion-no-margin" size="medium" (click)="this.submitlogin()">Sign In</ion-button>
            <p style="font-size: 15px; color: grey" text-center>Atau Login / Daftar Menggunakan</p>
        </form>
        <ion-row>
            <ion-col>
                <ion-button expand="block" size="medium" type="submit" class="btn-google" color="success" (click)="alert1()">
                    <ion-icon name="logo-google"></ion-icon> | Google</ion-button>
            </ion-col>

            <ion-col>
                <ion-button expand="block" size="medium" type="submit" class="btn-facebook" (click)="alert1()">
                    <ion-icon name="logo-facebook"></ion-icon> | Facebook</ion-button>
            </ion-col>
        </ion-row>
        <!-- <p style="font-size: 15px; color: grey" text-center [routerLink]="['/lupapassword']"><b>Lupa Password</b></p> -->
    </div>
    <p style="font-size: 15px; color: grey" text-center><b>Versi Aplikasi<br>Direktorat Jenderal Imigrasi<br>2019</b></p>
</ion-content>