<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/p1jenispaspor' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <ion-card class="bg-full" no-margin style="margin-top:-8px; padding:10px;">
        <div class="padding5">
            <h4 style="color: white;">Di lokasi mana anda ingin mendapatkan pelayanan Kami ?</h4>
            <h6 style="font-size: 10pt; color: white;">Pilih lokasi Unit Pelayanan yang anda inginkan</h6>
        </div>
        <!-- <img src="\assets\img\map.png" style="width: 100%; height:100px;"> 
        <br>-->
        <div id="map" #map style="height:200px"></div>
        <br>
        <ion-item class="item-rounded">
            <!-- <ion-input type="text" value="" placeholder="Cari Kantor imigrasi disini">
                <ion-icon name="search"></ion-icon>
            </ion-input> -->
            <!-- <ionic-selectable [(ngModel)]="pekerjaan" [items]="masterpekerjaan" itemValueField="id_pekerjaan" itemTextField="nama_pekerjaan" [canSearch]="true" (onChange)="pekerjaans($event)">
            </ionic-selectable> -->
            <ion-searchbar placeholder="Cari Kantor imigrasi disini" animated (ionInput)="getItems($event)"></ion-searchbar>
        </ion-item>
    </ion-card>
    <!-- <ion-list>
        <ion-item button class="list-card" *ngFor="let kanim of masterkanim" [routerLink]="['/','p9tanggal', kanim.id]">
            <div>
                <ion-input type="text" hidden></ion-input>
                <p style="color:orange;font-size:12pt;"><b>{{kanim.unit_name}}</b></p>
                <p style="color:rgb(66, 66, 66); font-size:11pt;"><b>{{kanim.unit_class}}</b></p>
                <p style="color:grey;font-size:9pt;">{{kanim.office_address}}</p>
                <br>
            </div>
        </ion-item>
    </ion-list> -->
    <ion-list>
        <ion-item button class="list-card" *ngFor="let kanim of filteredMasterKanim" (click)="kanimterpilih(kanim.id)">
            <div>
                <ion-input type="text" hidden></ion-input>
                <p style="color:orange;font-size:12pt;"><b>{{kanim.unit_name}}</b></p>
                <p style="color:rgb(66, 66, 66); font-size:11pt;"><b>{{kanim.unit_class}}</b></p>
                <p style="color:grey;font-size:9pt;">{{kanim.office_address}}</p>
                <br>
            </div>
        </ion-item>
    </ion-list>
</ion-content>