<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/p5getdukcakpil' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-full">
    <h2 text-center style="text-align: left; color: white;">Status Permohonan Paspor</h2>
    <div id="BelumBayar">
        <div class="statusdetail">
            <ion-row>
                <ion-col>
                    <p style="color:orange; font-size: 10pt; margin-bottom:-10px"><b>Dian Sastro Wardoyo</b></p>
                    <p style="color:grey; font-size: 8pt; margin-bottom:-10px">Nomor Induk Kependudukan</p>
                    <p style="color:rgb(66, 66, 66); font-size: 9pt; margin-bottom:-15px"><b>3671021101910001</b></p>
                </ion-col>
                <ion-col style="text-align: right">
                    <p style="color:orange; font-size: 10pt; margin-bottom:-10px"><b>Status</b></p>
                    <p style="color:red; font-size: 9pt; margin-bottom:-10px"><b>Belum Bayar</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 11pt; margin-bottom:-15px"><b> </b></p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p style="color:rgb(66, 66, 66); font-size: 10pt; margin-bottom:-10px"><b>Terakhir Pembayaran</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 10pt; margin-bottom:-10px"><b>13 Mei 2019, 10:00</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 10pt; margin-bottom:-10px"><b>Sisa Waktu 01:00:00</b></p>
                </ion-col>
                <ion-col style="text-align: right">
                    <p style="color:rgb(66, 66, 66); font-size: 9pt; margin-bottom:-10px"><b>Total Pembayaran</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 9pt; margin-bottom:-10px"><b>Rp. 350.000,00-</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 11pt; margin-bottom:-10px"><b></b></p>
                </ion-col>
            </ion-row>
            <div>
                <h2 text-center style="text-align: left; color:rgb(66, 66, 66);"><b>Kode Biling</b></h2>
                <ion-button expand="block" size="large" type="submit" class="btn-google" color="primary">218410051</ion-button>
            </div>
            <br>
        </div>
        <h4 style="text-align: right; color: white; padding-left: 15px;padding-right: 15px;">Pembayaran dapat dilakukan di ATM, Teller Bank, dan Kantor Pos yang menerima pembayaran Simponi MPN-G2</h4>
        <div style="padding-right: 5px;padding-left: 5px;">
            <ion-button expand="block" size="medium" type="submit" class="btn-google" color="danger">Batalkan Permohonan</ion-button>
        </div>
    </div>
    <div id="Lunas" hidden>
        <div class="statusdetail">
            <ion-row>
                <ion-col>
                    <p style="color:orange; font-size: 10pt; margin-bottom:-10px"><b>Dian Sastro Wardoyo</b></p>
                    <p style="color:grey; font-size: 8pt; margin-bottom:-10px">Nomor Induk Kependudukan</p>
                    <p style="color:rgb(66, 66, 66); font-size: 9pt; margin-bottom:-15px"><b>1212121212121212</b></p>
                </ion-col>
                <ion-col style="text-align: right">
                    <p style="color:orange; font-size: 10pt; margin-bottom:-10px"><b>Status</b></p>
                    <p style="color:green; font-size: 9pt; margin-bottom:-10px"><b>Dibayar</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 11pt; margin-bottom:-15px"><b> </b></p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p style="color:rgb(66, 66, 66); font-size: 10pt; margin-bottom:-10px"><b>Kantor Imigrasi Jakarta Selatan</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 10pt; margin-bottom:-10px"><b>13 Mei 2019</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 10pt; margin-bottom:-10px"><b>09:01 - 10:00</b></p>
                </ion-col>
                <ion-col style="text-align: right">
                    <p style="color:rgb(66, 66, 66); font-size: 9pt; margin-bottom:-10px"><b>Dibayar pada</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 10pt; margin-bottom:-10px"><b>13 Mei 2019</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 10pt; margin-bottom:-10px"><b>09:01 - 10:00</b></p>
                </ion-col>
            </ion-row>
            <div>
                <h3 text-center style="text-align: left; color:rgb(66, 66, 66);"><b>Nomor Pra Permohonan</b></h3>
                <ion-button expand="block" size="medium" type="submit" class="btn-google" color="primary">218410051</ion-button>
            </div>
            <div style="padding-right: 5px;padding-left: 5px;">
                <ion-row>
                    <ion-col>
                        <p style="color:grey; font-size: 8pt; margin-bottom:-10px"><b>Kode NTPN</b></p>
                        <p style="color:rgb(37, 37, 37); font-size: 10pt; margin-bottom:-10px"><b>49CDGG986JJUI998</b></p>
                    </ion-col>
                    <ion-col style="text-align: right">
                        <p style="color:grey; font-size: 8pt; margin-bottom:-10px"><b>Kode Billing</b></p>
                        <p style="color:rgb(37, 37, 37); font-size: 10pt; margin-bottom:-10px"><b>218410051</b></p>
                    </ion-col>
                </ion-row>
                <br>
                <ion-item class="item-rounded">
                    <img src="\assets\img\qrcode.png" style="width: 100%; margin:5px;">
                </ion-item>
            </div>
        </div>
    </div>
    <div id="AlokasiPaspor" hidden>
        <div class="statusdetail">
            <ion-row>
                <ion-col>
                    <p style="color:orange; font-size: 10pt; margin-bottom:-10px"><b>Dian Sastro Wardoyo</b></p>
                    <p style="color:grey; font-size: 8pt; margin-bottom:-10px">Nomor Induk Kependudukan</p>
                    <p style="color:rgb(66, 66, 66); font-size: 9pt; margin-bottom:-15px"><b>1212121212121212</b></p>
                </ion-col>
                <ion-col style="text-align: right">
                    <p style="color:orange; font-size: 10pt; margin-bottom:-10px"><b>Status</b></p>
                    <p style="color:green; font-size: 9pt; margin-bottom:-10px"><b>Alokasi Paspor</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 11pt; margin-bottom:-15px"><b> </b></p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p style="color:rgb(66, 66, 66); font-size: 10pt; margin-bottom:-10px"><b>Kantor Imigrasi Jakarta Selatan</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 10pt; margin-bottom:-10px"><b>13 Mei 2019</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 10pt; margin-bottom:-10px"><b>09:01 - 10:00</b></p>
                </ion-col>
                <ion-col style="text-align: right">
                    <p style="color:rgb(66, 66, 66); font-size: 9pt; margin-bottom:-10px"><b>Dibayar pada</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 10pt; margin-bottom:-10px"><b>13 Mei 2019</b></p>
                    <p style="color:rgb(66, 66, 66); font-size: 10pt; margin-bottom:-10px"><b>09:01 - 10:00</b></p>
                </ion-col>
            </ion-row>
            <div>
                <h3 text-center style="text-align: left; color:rgb(66, 66, 66);"><b>Nomor Permohonan</b></h3>
                <ion-button expand="block" size="medium" type="submit" class="btn-google" color="primary">#123456789101112</ion-button>
            </div>
            <div style="padding-right: 5px;padding-left: 5px;">
                <ion-row>
                    <ion-col>
                        <p style="color:grey; font-size: 8pt; margin-bottom:-10px"><b>Kode NTPN</b></p>
                        <p style="color:rgb(37, 37, 37); font-size: 10pt; margin-bottom:-10px"><b>49CDGG986JJUI998</b></p>
                    </ion-col>
                    <ion-col style="text-align: right">
                        <p style="color:grey; font-size: 8pt; margin-bottom:-10px"><b>Kode Billing</b></p>
                        <p style="color:rgb(37, 37, 37); font-size: 10pt; margin-bottom:-10px"><b>218410051</b></p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style="text-align: left">
                        <p style="color:grey; font-size: 8pt; margin-bottom:-10px"><b>Nomor Pra Permohonan</b></p>
                        <p style="color:rgb(37, 37, 37); font-size: 10pt; margin-bottom:-10px"><b>990J77</b></p>
                    </ion-col>
                </ion-row>
                <br>
            </div>
        </div>
    </div>
    <div>
        <ion-row>
            <ion-col>
                <ion-button expand="block" size="medium" type="submit" class="btn-google" color="primary" [routerLink]="['/home']">Kembali</ion-button>
            </ion-col>
            <ion-col hidden>
                <ion-button expand="block" size="medium" type="submit" class="btn-google" color="primary">Simpan PDF</ion-button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>