// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
    /** secondary **/
    // --ion-color-secondary: #0cd1e8;
    // --ion-color-secondary-rgb: 12, 209, 232;
    // --ion-color-secondary-contrast: #ffffff;
    // --ion-color-secondary-contrast-rgb: 255, 255, 255;
    // --ion-color-secondary-shade: #0bb8cc;
    // --ion-color-secondary-tint: #24d6ea;
    --ion-color-secondary: #132851;
    --ion-color-secondary-rgb: 2, 34, 77;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #03224E;
    --ion-color-secondary-tint: #153055;
    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    /** light **/
    --ion-color-light: #F7F7F7;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #F7F7F7;
    --ion-color-light-tint: #F7F7F7;
}

// ion header , jika tidak ingin ada border di header no-border
ion-list {
    padding: 5%;
}

ion-content {
    padding-top: 20%;
    padding-bottom: 20%;
    padding-right: 10px;
    padding-left: 10px;
    // background-image: url("src\assets\img\splash.png");
}

ion-card {
    border-radius: 0px;
}

ion-footer {
    border: 0px 14px 25px rgba(20, 8, 11, 0.1);
}

.item-rounded {
    border: 1px solid #999999;
    border-radius: 10px !important;
}

.nomnop {
    margin: 0px;
    padding: 0px;
}

.list-card {
    box-shadow: 0px 14px 25px rgba(92, 82, 84, 0.5);
    margin: 12px;
    padding: 5px;
    border-radius: 10px;
}

.form-login {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 0px 14px 25px rgba(92, 82, 84, 0.3);
    border-radius: 15px;
    background-color: white;
}

.statusdetail {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 14px 25px rgba(92, 82, 84, 0.3);
    border-radius: 15px;
    background-color: white;
}

.img-logo {
    height: 150px;
    width: 250px;
    // margin-top: 10%;
    margin-bottom: -10%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.icon-center {
    width: 25px;
    height: 25px;
    margin-bottom: -10px;
}

.bg-full {
    --background: url('/assets/img/mobile_background.png') no-repeat center center / cover;
}

.bg-rounded {
    --background: url('/assets/img/mobile_background_rounded.png') no-repeat center center / cover;
}

.bg-splash {
    --background: url('/assets/img/splash.png') no-repeat center center / cover;
}

.padding15 {
    padding-left: 15%;
    padding-right: 15%;
}

.padding10 {
    padding-left: 10%;
    padding-right: 10%;
}

.padding5 {
    padding-left: 5%;
    padding-right: 5%;
}

.form-permohonan {
    padding: 0px 15px 0px 15px;
    ion-list {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 10px;
        ion-item {
            border: 1px solid #999999;
            border-radius: 10px !important;
        }
    }
}