<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref='/permohonanlokasi' style="color:white" text="kembali"></ion-back-button>
      </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content class="bg-full">
<br>
<div class="padding5">
  <h2 style="color: white;">Status Permohonan Paspor</h2>
</div>
<div>
    <ion-list class="list-card">
      <ion-row style="padding:0px 5px 0px 5px;">
        <ion-col> 
          <ion-row>
            <p style="color:orange;font-size:10pt;"><b>Dian Sastro Wardoyo</b></p>
          </ion-row>
          <ion-row>
              <p style="color:grey; font-size: 8pt;">Nomor Induk Kependudukan</p>
          </ion-row>
          <ion-row>
            <p style="color:rgb(66, 66, 66); font-size: 8pt;"><b>1212121212121212</b></p>
          </ion-row>
          <br>
        </ion-col>
        <ion-col style="text-align: right;">          
          <ion-row style="color:orange;font-size:9pt;">
            <p><b>Status</b></p>
          </ion-row>
          <ion-row style="color:green; font-size: 10pt;">
            <p><b>Dibayar</b></p>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row style="padding:0px 5px 0px 5px;">
        <ion-col> 
            <ion-row>
                <p style="color:grey; font-size: 8pt;">Kantor Imigrasi Jakarta Selatan</p>
            </ion-row>
            <ion-row>
                <p style="color:grey; font-size: 8pt;">Tanggal : 13/Mei/2019</p>
            </ion-row>
            <ion-row>
                <p style="color:grey; font-size: 8pt;">Pukul : 09:01 - 10:00</p>
            </ion-row>
        </ion-col>
        <ion-col style="text-align: right;">          
            <ion-row>
                <p style="color:grey; font-size: 8pt;">Dibaya pada</p>
            </ion-row>
            <ion-row>
                <p style="color:grey; font-size: 8pt;">Tanggal : 13/Mei/2019</p>
            </ion-row>
            <ion-row>
                <p style="color:grey; font-size: 8pt;">Pukul : 09:01:00</p>
            </ion-row>
        </ion-col>
      </ion-row>
     <br>
    </ion-list>   
    </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col [routerLink]="['/landingpage']" routerLinkActive="router-link-active" >
        <ion-icon class="center icon-center" name="home"></ion-icon>
          <p text-center>Beranda</p>
          <br>
      </ion-col>     
      
      <ion-col [routerLink]="['/permohonanstatus']" routerLinkActive="router-link-active" >
          <ion-icon class="center icon-center" name="search" ></ion-icon>
          <p text-center>Status</p>
          <br>
        </ion-col>      
        <ion-col [routerLink]="['/jenispaspor']" routerLinkActive="router-link-active" >
          <ion-icon class="center icon-center" name="cash"></ion-icon>
          <p text-center>Permohonan</p>
          <br>
      </ion-col>     
      <ion-col>
          <ion-icon [routerLink]="['/login']" class="center icon-center" name="person"></ion-icon>
          <p text-center>Akun</p>
          <br>
        </ion-col>
    </ion-row>  
  </ion-toolbar>
</ion-footer>