<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref='/p9tanggal' style="color:white" text="kembali"></ion-back-button>
      </ion-buttons>    
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-card class="bg-full"no-margin style="margin-top:-8px;">
  <div>
      <br>      <br>
    <ion-label><b>Pagi / Siang</b></ion-label>
    <p style="color:white;">Pilih jam layanan yang anda inginkan</p>
  </div>
  </ion-card>
  <br>
  <div style="padding-left: 15px; padding-right:15px;">
    <ion-row>
        <ion-col style="margin:0px 0px 0px 0px"><p>Jumlah Permohonan<br><p style="font-size: 13pt;margin:0px 0px 0px 0px">2 Permohonan</p></ion-col>
        <ion-col style="text-align:right;"><p>Quota Tersisa<br><p style = "font-size:13pt;margin:0px 0px 0px 0px">15 Orang</p>di Pagi hari</p></ion-col>
    </ion-row>
    <br>
      </div>
              <ion-list class="list-card">
                <ion-row>
                  <p style="color:orange;font-size:13pt;"><b>Pagi</b></p>
                </ion-row>
                <ion-row>
                    <p style="color:grey; font-size: 10pt;">Senin-Kamis (08:00 sd 12:00)</p>
                  </ion-row>
                  <ion-row>
                      <p style="color:grey; font-size: 10pt;">Jumat (08:00 sd 11:30)</p>
                    </ion-row>
                <br>
              </ion-list>

              <ion-list class="list-card">
                  <ion-row>
                    <p style="color:orange;font-size:13pt;"><b>Siang</b></p>
                  </ion-row>
                  <ion-row>
                      <p style="color:grey; font-size: 10pt;">Senin-Kamis (13:00 sd 15:00)</p>
                    </ion-row>
                    <ion-row>
                        <p style="color:grey; font-size: 10pt;">Jumat (13:30 sd 15:30)</p>
                        </ion-row>
                  <br>
                </ion-list>
                <ion-button expand="block" type="submit" size="medium" [routerLink]="['/p11status']"> Daftar</ion-button>

</ion-content>
