<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/p8datapasangan' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content color="secondary">
    <div class="form-permohonan">
        <div>
            <h1 text-center>Data Verifikasi</h1>
        </div>
        <ion-list *ngIf="this.gss">
            <div>
                <h2 style="color: darkblue">Data Pribadi</h2>
            </div>
            <ion-item>
                <ion-label position="stacked"><b>NIK</b></ion-label>
                <ion-input value="{{this.gss.getnik}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>No KK</b></ion-label>
                <ion-input value="{{this.gss.getnokk}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Nama</b></ion-label>
                <ion-input value="{{this.gss.getnamalgkp}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Nama Ibu</b></ion-label>
                <ion-input value="{{this.gss.getnamalgkpibu}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Tempat, Tanggal Lahir</b></ion-label>
                <ion-input value="{{this.gss.gettmptlhr}}, {{this.gss.gettgllhr}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Jenis Kelamin</b></ion-label>
                <ion-input value="{{this.gss.injeniskelamin}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Agama</b></ion-label>
                <ion-input value="{{this.gss.getagama}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Status</b></ion-label>
                <ion-input value="{{this.gss.getstatus}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Pendidikan</b></ion-label>
                <ion-input value="{{this.gss.getpddk}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Pekerjaan</b></ion-label>
                <ion-input value="{{this.gss.innamapekerjaan}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Alamat</b></ion-label>
                <ion-input value="{{this.gss.getalamat}}, RT {{this.gss.getrt}}/ RW {{this.gss.getrw}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Provinsi</b></ion-label>
                <ion-input value="{{this.gss.getpropnama}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kabupaten/Kota</b></ion-label>
                <ion-input value="{{this.gss.getkabnama}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kecamatan</b></ion-label>
                <ion-input value="{{this.gss.getkecnama}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kelurahan</b></ion-label>
                <ion-input value="{{this.gss.getkelnama}}" readonly></ion-input>
            </ion-item>
            <br>
        </ion-list>
        <br>
    </div>
    <div class="form-permohonan">
        <ion-list>
            <div>
                <h2 style="color: darkblue">Data Diri</h2>
            </div>
            <ion-item>
                <ion-label position="stacked"><b>Tujuan</b></ion-label>
                <ion-input value="{{this.gss.innamatujuan}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>No HP</b></ion-label>
                <ion-input value="{{this.gss.innohp}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Email</b></ion-label>
                <ion-input value="{{this.gss.inemail}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Alamat Domisili</b></ion-label>
                <ion-input value="{{this.gss.indomisilialamat}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Provinsi</b></ion-label>
                <ion-input value="{{this.gss.indomisilinamaprop}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kabupaten/Kota</b></ion-label>
                <ion-input value="{{this.gss.indomisilinamakab}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kecamatan</b></ion-label>
                <ion-input value="{{this.gss.indomisilinamakec}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kode Pos</b></ion-label>
                <ion-input value="{{this.gss.indomisilinamakel}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Nama yang dapat dihubungi</b></ion-label>
                <ion-input value="{{this.gss.innamakerabat}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Nomor yang dapat dihubungi</b></ion-label>
                <ion-input value="{{this.gss.innokerabat}}" readonly></ion-input>
            </ion-item>
            <br>
        </ion-list>
        <br>
    </div>
    <div class="form-permohonan">
        <ion-list>
            <div>
                <h2 style="color: darkblue">Data Ibu</h2>
            </div>
            <ion-item>
                <ion-label position="stacked"><b>Nama</b></ion-label>
                <ion-input value="{{this.gss.getnamalgkpibu}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>NIK</b></ion-label>
                <ion-input value="{{this.gss.innikibu}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kewarganegaraan</b></ion-label>
                <ion-input value="{{this.gss.innamanegibu}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Tmpt, Tgl Lahir</b></ion-label>
                <ion-input value="{{this.gss.innamatmptibu}}, {{this.gss.intglibu}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Alamat</b></ion-label>
                <ion-input value="{{this.gss.inalamatibu}}" readonly></ion-input>
            </ion-item>
        </ion-list>
        <br>
    </div>
    <div class="form-permohonan">
        <ion-list>
            <div>
                <h2 style="color: darkblue">Data Ayah</h2>
            </div>
            <ion-item>
                <ion-label position="stacked"><b>NIK</b></ion-label>
                <ion-input value="{{this.gss.innikayah}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Nama</b></ion-label>
                <ion-input value="{{this.gss.innamaayah}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kewarganegaraan</b></ion-label>
                <ion-input value="{{this.gss.innamanegayah}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Tmpt, Tgl Lahir</b></ion-label>
                <ion-input value="{{this.gss.innamatmptayah}}, {{this.gss.intglayah}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Alamat</b></ion-label>
                <ion-input value="{{this.gss.inalamatayah}}"> </ion-input>
            </ion-item>
            <br>
        </ion-list>
        <br>
    </div>
    <div class="form-permohonan">
        <ion-list>
            <div>
                <h2 style="color: darkblue">Data Suami / Istri</h2>
            </div>
            <ion-item>
                <ion-label position="stacked"><b>NIK</b></ion-label>
                <ion-input value="{{this.gss.innikpsg}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Nama</b></ion-label>
                <ion-input value="{{this.gss.innamapsg}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kewarganegaraan</b></ion-label>
                <ion-input value="{{this.gss.innamanegpsg}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Tmpt, Tgl Lahir</b></ion-label>
                <ion-input value="{{this.gss.innamatmptpsg}}, {{this.gss.intglpsg}}" readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Alamat</b></ion-label>
                <ion-input value="{{this.gss.inalamatpsg}}" readonly></ion-input>
            </ion-item>
            <br>
            <!-- <ion-checkbox color="primary" slot="start" (click)="List()" name="izin"></ion-checkbox> -->
            <ion-checkbox [(ngModel)]="hideMe"></ion-checkbox>
            <ion-label style="font-size: 12pt"> Seluruh data sudah benar</ion-label>
            <br>
            <br>
            <ion-button expand="block" type="submit" class="ion-no-margin" (click)="daftar()" size="medium" id=listIon lines="none" *ngIf="hideMe" [routerLink]="['/p3listpermohonan']">
                <ion-icon name="share-alt"></ion-icon> Daftar
            </ion-button>
        </ion-list>
        <br>
    </div>
</ion-content>