ion-label{
    font-size: 5pt;
    padding: 0px;
    margin: 0px;
    color:black;
}
ion-input{
    font-size: 10pt;
    margin: 0px;
    color:black;
    :disabled{
        color: black;
    }
}
ion-col{
    padding: 0px;
    margin: 0px;
}