<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/p6datadiri' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
        <!-- <ion-title text-center style="color:white">Form Data Keluarga</ion-title> -->
    </ion-toolbar>
</ion-header>
<ion-content color="secondary">
    <div class="form-permohonan">
        <ion-list>
            <div>
                <h3 style="color:black;">Data Ibu</h3>
            </div>
            <ion-item>
                <ion-label position="stacked"><b>Nama Lengkap </b>
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" value='{{this.gss.getnamalgkpibu}}' readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>NIK</b>
                </ion-label>
                <ion-input required type="number" name="nikibu" [(ngModel)]="this.nikibu"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kewarganegaraan</b>
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <!-- <ion-input required type="text" name="negibu" [(ngModel)]="this.negibu"></ion-input> -->
                <ionic-selectable [(ngModel)]="this.negibu" [items]="this.dm.dnegara" itemValueField="this.negibu.kode_negara" itemTextField="negara" [canSearch]="true" (onChange)="negaras($event)">
                </ionic-selectable>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Tempat Lahir</b>
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ionic-selectable [(ngModel)]="this.tmptibu" [items]="this.dm.dkabupaten" itemValueField="id_uuid" itemTextField="name" [canSearch]="true" (onChange)="kabupatens($event)">
                </ionic-selectable>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Tanggal Lahir</b>
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="date" name="tglibu" [(ngModel)]="this.tglibu"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Alamat</b>
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" name="alamatibu" [(ngModel)]="this.alamatibu"></ion-input>
            </ion-item>
            <br>
        </ion-list>
        <br>
    </div>
    <div class="form-permohonan">
        <ion-list>
            <div>
                <h3 style="color:black;">Data Ayah</h3>
            </div>
            <ion-item>
                <ion-label position="stacked"><b>Nama Lengkap</b>
                </ion-label>
                <ion-input required type="text" name="namaayah" [(ngModel)]="this.namaayah"></ion-input>

            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>NIK</b>
                </ion-label>
                <ion-input required type="number" name="nikayah" [(ngModel)]="this.nikayah"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kewarganegaraan</b>
                </ion-label>
                <!-- <ion-input required type="text" name="negayah" [(ngModel)]="this.negayah"></ion-input> -->
                <ionic-selectable [(ngModel)]="this.negayah" [items]="this.dm.dnegara" itemValueField="kode_negara" itemTextField="negara" [canSearch]="true" (onChange)="negaras($event)">
                </ionic-selectable>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Tempat Lahir</b>
                </ion-label>
                <ionic-selectable [(ngModel)]="this.tmptayah" [items]="this.dm.dkabupaten" itemValueField="id_uuid" itemTextField="name" [canSearch]="true" (onChange)="kabupatens($event)">
                </ionic-selectable>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Tanggal Lahir</b>
                </ion-label>
                <ion-input required type="date" name="tglayah" [(ngModel)]="this.tglayah"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Alamat</b>
                </ion-label>
                <ion-input required type="text" name="alamatayah" [(ngModel)]="this.alamatayah"></ion-input>
            </ion-item>
            <br>

            <ion-button expand="block" type="submit" class="ion-no-margin" size="medium" (click)="submit()">
                <ion-icon name="share-alt"></ion-icon>Lanjutkan
            </ion-button>
        </ion-list>
    </div>
</ion-content>