<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/p4cekdukcapil' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content color="secondary">
    <div class="form-permohonan">

        <ion-list>
            <ion-item>
                <ion-label position="stacked"><b>NIK</b></ion-label>
                <ion-input type="text" value='{{this.gss.getnik}}' readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>No KK</b></ion-label>
                <ion-input type="text" value='{{this.gss.getnokk}}' readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Nama Lengkap</b></ion-label>
                <ion-input type="text" value='{{this.gss.getnamalgkp}}' readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Nama Lengkap Ibu</b></ion-label>
                <ion-input type="text" value='{{this.gss.getnamalgkpibu}}' readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Tempat, Tanggal Lahir</b></ion-label>
                <ion-input type="text" value='{{this.gss.gettmptlhr}}, {{this.gss.gettgllhr}}' readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Status Kawin</b></ion-label>
                <ion-input type="text" value='{{this.gss.getstatus}}' readonly></ion-input>
            </ion-item>
            <br>
            <!-- <ion-item>
          <ion-label position="stacked"><b>Jenis Pekerjaan</b></ion-label>
          <ion-input type="text" value='{{this.gss.JENIS_PKRJN}}' readonly></ion-input>
      </ion-item>
      <br>    -->
            <ion-item>
                <ion-label position="stacked"><b>Pendidikan Terakhir</b></ion-label>
                <ion-input type="text" value='{{this.gss.getpddk}}' readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Alamat</b></ion-label>
                <ion-input type="text" value='{{this.gss.getalamat}}, RT {{this.gss.getrt}}/ RW {{this.gss.getrw}}' readonly></ion-input>
            </ion-item>
            <br>

            <ion-item>
                <ion-label position="stacked"><b>Kelurahan</b></ion-label>
                <ion-input type="text" value='{{this.gss.getkelnama}}' readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kecamatan</b></ion-label>
                <ion-input type="text" value='{{this.gss.getkecnama}}' readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Kabupaten</b></ion-label>
                <ion-input type="text" value='{{this.gss.getkabnama}}' readonly></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-label position="stacked"><b>Provinsi</b></ion-label>
                <ion-input type="text" value='{{this.gss.getpropnama}}' readonly></ion-input>
            </ion-item>
            <br>
            <ion-button expand="block" type="submit" class="ion-no-margin" size="medium" [routerLink]="['/p6datadiri']">
                <ion-icon name="share-alt"></ion-icon> Lanjutkan</ion-button>
        </ion-list>
    </div>
</ion-content>