<ion-content style=" margin:10%; padding: 15px;">
    <div style="vertical-align: middle">
        <div style=" background-color: #132851; color:white; padding:5px;">
            <ion-title text-center>BACA TERLEBIH DAHULU</ion-title>
        </div>
        <div class="list-card item-text-wrap margin-top pendaftaran-card">
            <br>
            <ion-row class="item item-text-wrap text-pendaftaran row">
                <ion-col size="0.8">1.</ion-col>
                <ion-col>SEBELUM MELAKUKAN PENDAFTARAN SILAHKAN PERSIAPKAN IDENTITAS DIRI (KTP, KK, AKTE LAHIR, AKTE NIKAH DAN IJAZAH YANG NAMA DAN TANGGAL LAHIRNYA SESUAI) KARENA DATA YANG DIDAFTARKAN HARUS BENAR;</ion-col>
            </ion-row>

            <ion-row class="item item-text-wrap text-pendaftaran row">
                <ion-col size="0.8">2.</ion-col>
                <ion-col>APABILA 1 X 24 JAM TIDAK DAPAT E-MAIL, MOHON UNTUK MENGHUBUNGI KANTOR IMIGRASI TERDEKAT</ion-col>
            </ion-row>

            <ion-row class="item item-text-wrap text-pendaftaran row">
                <ion-col size="0.8">3.</ion-col>
                <ion-col>NOMOR TELEPON YANG DIGUNAKAN UNTUK MELAKUKAN PENDAFTARAN TIDAK BOLEH SAMA;</ion-col>
            </ion-row>

            <ion-row class="item item-text-wrap text-pendaftaran row">
                <ion-col size="0.8">4.</ion-col>
                <ion-col>JIKA ANDA TIDAK MENERIMA E-MAIL AKTIVASI AKUN PADA KOTAK MASUK, SILAKAN CEK FOLDER SPAM PADA E-MAIL. SATU AKUN DAPAT DAFTARKAN; </ion-col>
            </ion-row>

            <ion-row class="item item-text-wrap text-pendaftaran row">
                <ion-col size="0.8">5.</ion-col>
                <ion-col>ANGGOTA KELUARGA (IBU/BAPAK, ANAK, SUAMI/ISTRI) DALAM 1 KARTU KELUARGA, DATA PEMOHON PERTAMA HARUS SESUAI DENGAN DATA PEMBUAT AKUN;</ion-col>
            </ion-row>

            <ion-row class="item item-text-wrap text-pendaftaran row">
                <ion-col size="0.8">6.</ion-col>
                <ion-col>APLIKASI INI HANYA BISA DIGUNAKAN UNTUK PENDAFTARAN BARU DAN PENGGANTIAN, APABILA PASPOR ANDA HILANG ATAU RUSAK SILAKAN DATANG KE KANIM BESERTA PERSYARATAN PENGGANTIAN PASPOR, UNTUK PENGGANTIAN PASPOR KARENA HILANG DIHARUSKAN MEMBAWA SURAT
                    KEHILANGAN DARI KEPOLISIAN;</ion-col>
            </ion-row>

            <ion-row class="item item-text-wrap text-pendaftaran row">
                <ion-col size="0.8">7.</ion-col>
                <ion-col>APABILA MEMBATALKAN ATAU TIDAK HADIR SETELAH MELAKUKAN PENDAFTARAN, MAKA ANDA BARU DAPAT MELAKUKAN PENDAFTARAN KEMBALI 30 HARI KEMUDIAN TERHITUNG SETELAH TANGGAL PENDAFTARAN SEBELUMNYA.</ion-col>
            </ion-row>
            <br>
            <div class="row">
                <button type="submit" class="col-100 button-registration-first margin-bottom-10" (click)="lanjut()">
        <div class="text-home">LANJUT</div>
      </button>
            </div>
        </div>
        <!-- End Content -->
    </div>
</ion-content>