.list-card-notif {
    margin-left: 7px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    margin-right: 7px !important
}

.item-text-wrap {
    text-align: justify !important;
}

.text-pendaftaran {
    font-size: 14px !important;
    text-align: justify !important;
    margin: 0px !important;
}

@media screen and (max-width: 360px) {
    .text-pendaftaran {
        font-size: 11px !important;
    }
}

@media screen and (min-width: 400px) {
    .text-pendaftaran {
        font-size: 14px !important;
    }
}

.list-card-notif {
    margin-left: 7px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    margin-right: 7px !important
}

.button-registration-first[disabled] {
    opacity: .5;
}

.button-registration-first {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: 100% 100%;
    color: white;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #132851;
    border: 0px !important;
}

.button-type {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: 100% 100%;
    color: white;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-image: linear-gradient(to right, #132851 0%, #1cb4f0 51%, #1cb4f0 100%);
    border: 0px !important;
    margin-top: 10px !important;
    font-size: 17px !important;
}

.button-registration-first:hover {
    background-color: #132851;
    background-position: right center;
}