<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref='/p0tujuan' style="color:white" text="kembali"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <img src="\assets\img\img-jenispaspor.png" alt="" style="width: 100%">
    <br>
    <ion-list class="list-card" (click)="jenisnonel()">
        <h5 style="color:green;  "><b>Paspor Non-Elektronik</b></h5>
        <p style="color:grey;  ">Ketuk disini untuk membuat Paspor non-Elektronik</p>
        <br>
    </ion-list>
    <ion-list class="list-card" (click)="jenisel()">
        <h5 style="color:orange; "><b>Paspor Elektronik</b></h5>
        <p style="color:grey;  ">Ketuk disini untuk menbuat paspor elektronik</p>
        <br>
    </ion-list>
    <!-- </ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col [routerLink]="['/home']" routerLinkActive="router-link-active">
                <ion-icon class="center icon-center" name="home"></ion-icon>
                <p text-center>Beranda</p>
                <br>
            </ion-col>

            <ion-col [routerLink]="['/p11status']" routerLinkActive="router-link-active">
                <ion-icon class="center icon-center" name="search"></ion-icon>
                <p text-center>Status</p>
                <br>
            </ion-col>
            <ion-col [routerLink]="['/p1jenispaspor']" routerLinkActive="router-link-active">
                <ion-icon class="center icon-center" name="cash"></ion-icon>
                <p text-center>Permohonan</p>
                <br>
            </ion-col>
            <ion-col>
                <ion-icon [routerLink]="['/login']" class="center icon-center" name="person"></ion-icon>
                <p text-center>Akun</p>
                <br>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer> -->