<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title text-center style="color:white">Aplikasi Pelayanan Paspor</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <img src="\assets\img\img-LayananKami.png" style="width: 100%">
    <br>
    <ion-list class="list-card" (click)="pasporbaru()">
        <p style="color:orange; "><b>BELUM PERNAH MEMILIKI PASPOR?</b></p>
        <p style="color:rgb(66, 66, 66); "><b>Buat Paspor Baru</b></p>
        <p style="color:grey;  ">Ketuk disini untuk menbuat paspor baru</p>
        <br>
    </ion-list>
    <ion-list class="list-card" (click)="gantipaspor()">
        <p style="color:green;  "><b>SUDAH PERNAH MEMILIKI PASPOR?</b></p>
        <p style="color:rgb(66, 66, 66);  "><b>Penggantian / Perpanjang Paspor</b></p>
        <p style="color:grey;  ">Ketuk disini apabila anda sudah memiliki paspor</p>
        <br>
    </ion-list>
    <ion-list class="list-card" (click)="pasporrusak()">
        <p style="color:red;  "><b>PASPOR ANDA RUSAK / HILANG</b></p>
        <p style="color:rgb(66, 66, 66);  "><b>Pelayanan Paspor Rusak / Hilang</b></p>
        <p style="color:grey;  ">Ketuk disini apabila paspor anda rusak atau hilang</p>
        <br>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col [routerLink]="['/home']" routerLinkActive="router-link-active">
                <ion-icon class="center icon-center" name="home"></ion-icon>
                <p text-center>Beranda</p>
                <br>
            </ion-col>
            <ion-col [routerLink]="['/']" routerLinkActive="router-link-active">
                <ion-icon class="center icon-center" name="search"></ion-icon>
                <p text-center>Status</p>
                <br>
            </ion-col>
            <ion-col [routerLink]="['/p11status']" routerLinkActive="router-link-active">
                <ion-icon class="center icon-center" name="cash"></ion-icon>
                <p text-center>Permohonan</p>
                <br>
            </ion-col>
            <ion-col>
                <ion-icon [routerLink]="['/login']" class="center icon-center" name="person"></ion-icon>
                <p text-center>Akun</p>
                <br>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>